[project]
name = "GridFlock"
uri = "https://github.com/yawkat/GridFlock"
export-filename-prefix = "GridFlock"
mode = "single"
head-extra = '<script defer src="https://um.yawk.at/script.js" data-website-id="a6973286-5213-4f72-a99f-b746b613909f"></script>'

[[model]]
file = "gridflock.scad"
description-extra-html = "<br>For detailed documentation, check the <a href='https://github.com/yawkat/GridFlock/blob/main/README.md'>README</a>.<br><b>Feb 16: I've turned off magnets by default because most people don't use them.</b> If you've saved a design with magnets, you will have to manually turn them on again below."
umami-track-render = []
umami-track-export = ["magnets", "magnet_style", "connector_intersection_puzzle", "connector_edge_puzzle", "bed_size"]

[model.param-metadata.bed_size.presets]
text = "Printer Presets"
[model.param-metadata.bed_size.presets.values]
"Prusa Core One/+/MK4/S" = [250, 220]
"Prusa Core One L" = [300, 330]
"Prusa Core One XL" = [360, 360]
"Prusa MK3S" = [250, 210]
"Prusa MINI+" = [180, 180]
"Bambu Lab X1/P1/A1" = [256, 256]
"Bambu Lab H2D" = [350, 320]
"Bambu Lab A1 Mini" = [180, 180]

[model.param-metadata.magnet_style]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_frame_style]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_diameter]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_height]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_top]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_bottom]
display-condition = {js = "magnets"}
[model.param-metadata.intersection_puzzle_fit]
display-condition = {js = "connector_intersection_puzzle"}
[model.param-metadata.edge_puzzle_count]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_dim]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_dim_c]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_gap]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_magnet_border]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_magnet_border_width]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_height_female]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_height_male_delta]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.number_depth]
display-condition = {js = "numbering"}
[model.param-metadata.number_size]
display-condition = {js = "numbering"}
[model.param-metadata.number_font]
display-condition = {js = "numbering"}
[model.param-metadata.number_squeeze_size]
display-condition = {js = "numbering"}
[model.param-metadata.thumbscrew_diameter]
display-condition = {js = "thumbscrews"}
