[project]
name = "GridFlock"
uri = "https://github.com/yawkat/GridFlock"
export-filename-prefix = "GridFlock"
mode = "single"
head-extra = '<script defer src="https://um.yawk.at/script.js" data-website-id="a6973286-5213-4f72-a99f-b746b613909f"></script>'

[[model]]
file = "gridflock.scad"
description-extra-html = "<br>For detailed documentation, check the <a href='https://github.com/yawkat/GridFlock/blob/main/README.md'>README</a>.<br><b>Feb 16: I've turned off magnets by default because most people don't use them.</b> If you've saved a design with magnets, you will have to manually turn them on again below.<br>Feb 21: The do_half parameters have been superseded by the filler parameters."
umami-track-render = []
umami-track-export = ["magnets", "magnet_style", "connector_intersection_puzzle", "connector_edge_puzzle", "bed_size", "click1", "filler_x", "filler_y"]

[model.param-metadata.bed_size.presets]
text = "Printer Presets"
[model.param-metadata.bed_size.presets.values]
"Prusa Core One/+/MK4/S" = [250, 220]
"Prusa Core One L" = [300, 330]
"Prusa Core One XL" = [360, 360]
"Prusa MK3S" = [250, 210]
"Prusa MINI+" = [180, 180]
"Bambu Lab X1/P1/P2/A1" = [256, 256]
"Bambu Lab H2C/H2D" = [300, 320]
"Bambu Lab H2S" = [340, 340]
"Bambu Lab A1 Mini" = [180, 180]
"Creality Ender 3 / Ender 5 / K1 / CR-10 / CR-20" = [220, 220]
"Creality Hi" = [260, 300]
"Creality K2" = [260, 260]
"Creality K2 SE" = [220, 215]
"Creality Ender 7" = [250, 250]
"Creality Ender 3 Plus / K1 Max / K2 Pro" = [300, 300]
"Creality Ender 5 Max" = [400, 400]
"Creality CR-200B Pro" = [200, 200]
"Elegoo Neptune 4 / Neptune 4 Pro" = [225, 225]
"Elegoo Neptune 4 Plus" = [320, 320]
"Elegoo Neptune 4 Max" = [420, 420]
"Elegoo Centauri Carbon" = [256, 256]

[model.param-metadata.solid_base]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#solid-base"
[model.param-metadata.bottom_chamfer]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#bottom-chamfer"
[model.param-metadata.top_chamfer]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#top-chamfer"
[model.param-metadata.alignment]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#alignment"
[model.param-metadata.magnets]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#magnets"
[model.param-metadata.magnet_style]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#magnets"
display-condition = {js = "magnets"}
[model.param-metadata.magnet_frame_style]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#rounded-corner-frame"
display-condition = {js = "magnets"}
[model.param-metadata.magnet_diameter]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_height]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_top]
display-condition = {js = "magnets"}
[model.param-metadata.magnet_bottom]
display-condition = {js = "magnets"}
[model.param-metadata.connector_intersection_puzzle]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#intersection-puzzle"
[model.param-metadata.intersection_puzzle_fit]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#connector-fit"
display-condition = {js = "connector_intersection_puzzle"}
[model.param-metadata.connector_edge_puzzle]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#edge-puzzle"
[model.param-metadata.edge_puzzle_count]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#connector-count"
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_dim]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_dim_c]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_gap]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_magnet_border]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_magnet_border_width]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_height_female]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#connector-height"
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.edge_puzzle_height_male_delta]
display-condition = {js = "connector_edge_puzzle"}
[model.param-metadata.filler_x]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#filler"
[model.param-metadata.filler_y]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#filler"
[model.param-metadata.filler_fraction]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#integer-fraction"
display-condition = {js = "filler_x == 1 || filler_y == 1"}
[model.param-metadata.filler_minimum_size]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#dynamic"
display-condition = {js = "filler_x == 2 || filler_y == 2"}
[model.param-metadata.numbering]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#numbering"
[model.param-metadata.number_depth]
display-condition = {js = "numbering"}
[model.param-metadata.number_size]
display-condition = {js = "numbering"}
[model.param-metadata.number_font]
display-condition = {js = "numbering"}
[model.param-metadata.number_squeeze_size]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#squeezed-number"
display-condition = {js = "numbering"}
[model.param-metadata.plate_wall_thickness]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#plate-wall"
[model.param-metadata.plate_wall_height]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#plate-wall"
[model.param-metadata.vertical_screw_diameter]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#screw-dimensions"
[model.param-metadata.vertical_screw_countersink_top]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#screw-dimensions"
[model.param-metadata.vertical_screw_counterbore_top]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#screw-dimensions"
[model.param-metadata.vertical_screw_plate_corners]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#plate-corners"
[model.param-metadata.vertical_screw_plate_corner_inset]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#plate-corners"
[model.param-metadata.vertical_screw_plate_edges]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#plate-edges"
[model.param-metadata.vertical_screw_segment_corners]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#segment-corners"
[model.param-metadata.vertical_screw_segment_corner_inset]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#segment-corners"
[model.param-metadata.vertical_screw_segment_edges]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#segment-edges"
[model.param-metadata.vertical_screw_other]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#other-intersections"
[model.param-metadata.thumbscrews]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#thumb-screw"
[model.param-metadata.thumbscrew_diameter]
display-condition = {js = "thumbscrews"}
[model.param-metadata.click1]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#click-latch"
[model.param-metadata.click1_distance]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#distance"
[model.param-metadata.click1_steepness]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#steepness"
[model.param-metadata.click1_outer_length]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#length"
[model.param-metadata.click1_inner_length]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#length"
[model.param-metadata.click1_height]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#height"
[model.param-metadata.click1_strength]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#latch_strength"
[model.param-metadata.click1_wall_strength]
display-condition = {js = "click1"}
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#latch_wall_strength"
[model.param-metadata.x_segment_algorithm]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#horizontal"
[model.param-metadata.y_row_count_first]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#horizontal"
[model.param-metadata.x_column_count_first]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#vertical"
[model.param-metadata.plate_corner_radius]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#corner-radius"
[model.param-metadata.edge_adjust]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#edge-adjustment"
[model.param-metadata.cell_override]
help-link = "https://github.com/yawkat/GridFlock/blob/main/README.md#cell-override"
[model.param-metadata.test_pattern]
